button[name=a] {
  background-color: lightblue;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: black;
  opacity: 1.0;
}
button[name=b] {
  width: 100px;
  height: 50px;
  background-color: navy;
  border-width: 1px;
  border-color: white;
  color: white
}
table, td, tr {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}
input {
  width = 50px;
  height: 50px;
}
